.showdown-container {
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}

.message-container {
  margin: 1em;
}

.round-result-message {
  text-align: center;
}

.card-container {
  padding: 0 2em;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}

.player-tag {
  order: 1;
}

@media screen and (orientation: landscape) {
  .showdown-container {
    flex-direction: row;
    justify-content: center;
  }
  .player-tag {
    order: 0;
  }
  .message-container {
    width: 30%;
  }
}