.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--Poppins);
  border: none;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  width: fit-content;
  padding: 15px;
  background-color: #A6FF70;
  transition: 200ms;
  min-height: 44px;
}

.buttons:hover {
  transform: translateY(-10%);
  box-shadow: 0px 0px 5px 0px #A6FF70;
}

.buttons:active {
  transform: translateY(0) scale(1.2, 1);
  box-shadow: #A6FF70 0px 0px 10px 0px;
}

.card-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__button {
    display: block;
    background: none;
    border: none;
    margin: 0 auto;
  }

  &__description {
    padding: 0 2em;
    font-size: .75rem;
    font-weight: 300;
  }
}

@media screen and (min-width: 720px) {
  .buttons {
    font-size: 1.25rem;
  }
}