h1, h2 {
  color: #A6FF70;
  text-align: center;
}

p {
  color: #FFF;
}

.game-title {
  margin: 0 auto;
  &__main-title {
    margin-bottom: 0.1em;
  }
  &__sub-title {
    text-align: center;
  }
}

@media screen and (min-width: 720px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
  }
}
