@import './components/buttons';
@import './components/texts';
@import './pages/finalResult';
@import './pages/roundPick';
@import './pages/showdown';
@import './animations/pop-in';
@import './animations/fade-in';
@import './animations/move-in';

:root {
  /*fonts*/
  --Poppins: 'Poppins', sans-serif; 
}
body {
  background-color: #303030;
  font-family: var(--Poppins);
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 320px;
}