@import './components/buttons';
@import './components/animations';
@import './components/texts';
@import './layout/finalResult';
@import './layout/roundPick';
@import './layout/showdown';
:root {
  /*fonts*/
  --Poppins: 'Poppins', sans-serif; 
}
body {
  background-color: #303030;
  font-family: var(--Poppins);
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}