.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: var(--Poppins);
  border: none;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px;
  background-color: #A6FF70;
  -webkit-transition: 200ms;
  transition: 200ms;
  min-height: 44px;
}

.buttons:hover {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  -webkit-box-shadow: 0px 0px 5px 0px #A6FF70;
          box-shadow: 0px 0px 5px 0px #A6FF70;
}

.buttons:active {
  -webkit-transform: translateY(0) scale(1.2, 1);
          transform: translateY(0) scale(1.2, 1);
  -webkit-box-shadow: #A6FF70 0px 0px 10px 0px;
          box-shadow: #A6FF70 0px 0px 10px 0px;
}

.card-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-buttons__button {
  display: block;
  background: none;
  border: none;
  margin: 0 auto;
}

.card-buttons__description {
  padding: 0 2em;
  font-size: .75rem;
  font-weight: 300;
}

@media screen and (min-width: 720px) {
  .buttons {
    font-size: 1.25rem;
  }
}

h1, h2 {
  color: #A6FF70;
  text-align: center;
}

p {
  color: #FFF;
}

.game-title {
  margin: 0 auto;
}

.game-title__main-title {
  margin-bottom: 0.1em;
}

.game-title__sub-title {
  text-align: center;
}

@media screen and (min-width: 720px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1.5rem;
  }
}

.final-result h2, .final-result p {
  text-align: center;
}

.round-pick {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  min-height: 560px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.round-heading {
  text-align: center;
}

.round-info {
  margin: 1em auto;
  text-align: center;
}

.round-info p {
  margin: 0;
}

.running-score-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3em;
}

.running-score-container p {
  display: block;
  margin-top: 0;
}

.showdown-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  min-height: 560px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.message-container {
  margin: 1em;
}

.round-result-message {
  text-align: center;
}

.card-container {
  padding: 0 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.player-tag {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (orientation: landscape) {
  .showdown-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .player-tag {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .message-container {
    width: 30%;
  }
}

@-webkit-keyframes pop-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-4rem) scale(0.8);
            transform: translateY(-4rem) scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-4rem) scale(0.8);
            transform: translateY(-4rem) scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.animate-pop-in {
  -webkit-animation: pop-in 0.6s cubic-bezier(0.17, 0.67, 0.44, 1.28);
          animation: pop-in 0.6s cubic-bezier(0.17, 0.67, 0.44, 1.28);
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in {
  -webkit-animation: fade-in 200ms ease-in;
          animation: fade-in 200ms ease-in;
}

@-webkit-keyframes move-in {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes move-in {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.animate-move-in {
  -webkit-animation: move-in 200ms ease-in;
          animation: move-in 200ms ease-in;
}

:root {
  /*fonts*/
  --Poppins: 'Poppins', sans-serif;
}

body {
  background-color: #303030;
  font-family: var(--Poppins);
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  min-height: 320px;
}
/*# sourceMappingURL=main.css.map */